# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build output
dist/
out/
build/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Electron cache
.electron
